section {
    color: #030303; /* Color de fondo */
	background-color: #a5e7f3; /* color del recuadro */
	padding: 1% 2% 1% 2% ; /*Regla del Reloj */
	margin: 2% 1%;
	height: inherit; 
}

h2 {
	font-size: medium;
}

div {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap; 
    align-items: flex-start;
    justify-content:center;
    color: #030303; /* Color de fondo */
	background-color: #a5e7f3; /* color del recuadro */
	padding: 1% 2% 1% 2% ; /*Regla del Reloj */
	margin: 2% 1%;
	height: inherit; 
}

div p {
	margin: 2% auto;
}

footer {
	color: #030303; /* Color de fondo */
	background-color: #a5e7f3; /* color del recuadro */
	padding: 1% 2% 1% 2% ; /*Regla del Reloj */
	margin: 2% 1%;
}

span.finded{
	background: #F00;
	color: #FFF;
}

button {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  }

  .button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
  }

  .button:hover {
	background-color: #4CAF50; /* Green */
	color: white;
  }

