img {
    width: 20%;
    height: 20%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

video {
    width: 30%;
    height: 30%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}