table {
    color: #030303; /* Color de fondo */
	background-color: #a5e7f3; /* color del recuadro */
	padding: 1% 2% 1% 2% ; /*Regla del Reloj */
	margin: 2% auto;
	height: inherit; 
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 0.05em solid #030303;
}